@import "inputFile.css";
@import "@dasundev/livewire-dropzone-styles";
.bot-mask {
    top: auto;
    bottom: 0;
    transform: translateY(0);
}

#content_container .bot-mask {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.bg-mask {
    height: 280px;
    background: linear-gradient(180deg,rgba(245,246,251, 0) 0%, #f5f6fb 100%);
}

.select2-container--bootstrap5 .select2-dropdown {
    width: 300px !important;
}
